@font-face {
    font-family: 'Bariol';
    src: url("./Fonts/bariol-cufonfonts/bariol_bold-webfont.ttf");
}

@font-face {
    font-family: 'Bariol-regular';
    src: url("./Fonts/bariol-cufonfonts/bariol_regular-webfont.ttf");
}

@font-face {
    font-family: 'DynaPuff';
    src: url("./Fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("./Fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto/Roboto-Regular.ttf");
}

*{
    box-sizing: border-box;
    color: black;
    font-family: 'Raleway';
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #777;
}

body{
    background-image: linear-gradient(to left, #7808f0, #06bdf5);
    background-position: center;
    background-size: cover;
}

.rk{
    font-size: 25px;
    font-weight: 900;
    font-family: 'DynaPuff';
}

.pre{
    font-family: 'DynaPuff';
    font-size: 25px;
    font-weight: 900;
}

.rk{
    color: #ff004f;
}

.pre{
    color: #777;
}

nav{
    display: flex;
}

a{
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
    margin-left: 25px;
    color: black;
}

nav a{
    position: relative;
    font-family: 'Raleway';
}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
}
    
/* .name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.name-large {
    font-size: 6em;
    padding: 0.7em;
} */

.content-section {
    margin: 1em;
    font-size: 1.3em;
    font-weight: lighter;
    text-align: justify;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Roboto';
    font-weight: normal;
    color: black;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-top: 20px;
    text-decoration: underline double;
}

.section-image {
    float: left;
    margin: 15px;
    border: 2px solid var(--light-gray);
    height: 250px;
    width: 250px;
}

.section-image:hover{
    border: 2px solid #ff004f;
    padding: 10px;
}

.footer{
    border-top: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p, span{
    font-family: 'Roboto';
    color: black;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 12px;
}