@font-face {
    font-family: 'Bariol';
    src: url("./Fonts/bariol-cufonfonts/bariol_bold-webfont.ttf");
}

@font-face {
    font-family: 'Bariol-regular';
    src: url("./Fonts/bariol-cufonfonts/bariol_regular-webfont.ttf");
}

@font-face {
    font-family: 'DynaPuff';
    src: url("./Fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("./Fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url("./Fonts/Roboto/Roboto-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

header{
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #777;
}

body{
    background-image: linear-gradient(to left, #7808f0, #06bdf5);
    background-position: center;
    background-size: cover;
}

.rk{
    font-size: 25px;
    font-weight: 900;
    font-family: 'DynaPuff';
}

.pre{
    font-family: 'DynaPuff';
    font-size: 25px;
    font-weight: 900;
}

.rk{
    color: #ff004f;
}

.pre{
    color: #777;
}

nav{
    display: flex;
}

a{
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
    margin-left: 25px;
    color: black;
}

nav a{
    position: relative;
    font-family: 'Raleway';
}

nav a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
}


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 40px;
    font-weight: 900;
    color: #ff004f;
    text-transform: uppercase;
    margin-top: -40px;
}

.contact .content p{
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 25px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}



.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #ff004f;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px;
}

.contactForm h2{
    font-size: 22px;
    color: black;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

/* input[type=text]:hover ,input[type=email]:hover ,select:hover, textarea:hover {
    background-color: white;    
    color: black;
    font-weight: 500;
} */

.submit_btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 50px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea, .submit_btn{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    /* outline: none; */
    max-height: 500px;
    resize: vertical;
}

/* .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
} */

/* .contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: black;
    font-size: 15px;
    padding-bottom: 10px;
    transform: translateY(-20px);
} */

/* .contactForm .inputBox .submit_btn {
    width: 100px;
    background: #00bcd4;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
} */

.footer{
    border-top: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p, span{
    font-family: 'Roboto';
    color: black;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 12px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }

    .container{
        flex-direction: column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    }

    .container .contactInfo, .contactForm{
        width: 100%;
    }
}